<div class="container">
  <div class="col-md-12">
    <div class="col-md-6">
      <h3>{{ title }}</h3>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success" [routerLink]="['/songs/new']"><span class="glyphicon glyphicon-plus"></span></button>
      <button class="btn btn-danger" (click)="deleteMultiSongs()" [disabled]="!isEnableDeleteMultiSongsBtn"><span class="glyphicon glyphicon-trash"></span></button>
    <input type="text" [formControl]="term" />
    </div>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th (click)="toggleAllSongs()"><input type="checkbox" [checked]="isCheckAllSongs"></th>
          <th>Name</th>
          <th>Artist</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of (songs | filterName: searchKey)">
          <td (click)="toggleSong(song)"><input type="checkbox" [checked]="song.checked"></td>
          <td>{{ song.name }}</td>
          <td>{{ song.artist }}</td>
          <td>
            <button (click)="editSong(song);" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span></button>
            <button (click)="deleteSong(song)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>